*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
} 

ul, ol {
    margin: 0;
    padding: 0; 
    list-style: none;
}

a {
  text-decoration: none;
}


body { 
    margin: 0;  
    font-size: 15px; 
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--stb-bg-secondary);
    color: var(--stb-button-text-bright);
  }  

  html, body {
    box-sizing: border-box;       
  } 


:root {
    /* Основні кольори фону */
    --stb-bg-secondary: #1a1a2e;
    --stb-bg-fourth: #3a3a4e;    
    --stb-bg-night: #0F1126; 

    /* Текстові кольори */
    --stb-text-primary: #ffffff;
    --stb-text-logo: #ffa90b;
    --stb-text-ol: #ff3366;

    /* Кольори посилань */
    --stb-link-green: #008000;
    --stb-link-green-hover: #09b409;

    /* Кнопки */
    --stb-button-primary: linear-gradient(90deg, #FF416C, #FF4B2B);
    --stb-button-primary-active: #DC143C;
    --stb-button-secondary: linear-gradient(90deg, #00BFFF, #0080FF);
    --stb-button-secondary-hover: linear-gradient(90deg, #0080FF, #00BFFF); 

    --stb-bar-menu-hover: #75cdeb;

    /* Текст кнопок */
    --stb-button-text-bright: #ffffff;

    /* Додаткові */
    --border-line: #eee;

    --stb-cookie-banner-bg-tertiary: #2d2d3e; 
}

.container {
    width: 100%;
    max-width: 1215px; 
    padding: 0 15px;  
    margin: 0 auto;
} 

.header { 
    position: relative;
    background-image: url('../img/casino-background.jpg'); 
    background-size: cover;
    background-position: center center;     
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    height: 600px;    
    overflow: hidden;     
}

.header__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 40px; 
    display: flex;
    align-items: center; 
    justify-content: space-between;       
    background: var(--stb-bg-night); 
    z-index: 100;
} 


.logo {     
    font-size: 24px;
    font-weight: bold;
    color: var(--stb-text-logo);          
}  

.header__right {    
    display: flex; 
    align-items: center;
    gap: 20px;
  } 

.header__left {
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
}

.header__right i { 
  position: absolute; 
  left: 10px; 
  color: var(--stb-button-text-bright);
  z-index: 2;
}

.sidebar {
    position: fixed;     
    top: 80px;
    left: 0;
    height: calc(100vh);
    width: 280px;
    background-color: var(--stb-bg-secondary);
    transition: 0.3s ease;
    z-index: 200;
    overflow-y: auto;
} 

.toggle__btn { 
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s ease;
}

.toggle__btn:hover {
    opacity: 0.8;
}

.sidebar__menu {
   width: 300px;    
   padding: 10px;
}

.sidebar__menu span {  
    margin-left: 25px;
    color: var(--stb-button-text-bright); 
    font-weight: 700; 
    white-space: nowrap;
} 

.sidebar__menu a {
    margin-left: -10px;
    align-items: center; 
    justify-content: center;   
} 

.sidebar__menu span:hover  {
    color: var(--stb-bar-menu-hover);
}

.sidebar.collapsed .sidebar__menu span {
    opacity: 0;                
    pointer-events: none;
}

.sidebar__menu li {
    padding: 15px; 
    border-bottom: 1px solid var(--stb-bg-fourth);
} 

.search__bar {  
    position: relative;
    display: flex ;
    align-items: center; 
    width: 300px;
    border-radius: 5px; 
    padding: 5px;  
    margin-right: 10px; 
    background-color: var(--stb-cookie-banner-bg-tertiary);
} 

 .search__input{  
    width: 100%;
    font-weight: 700; 
    line-height: 2;
    border: none; 
    background: transparent;
    color: var(--stb-button-text-bright);   
    margin-left: 20px;   
    padding: 5px; 
    outline: none; 
}  

.search__input::placeholder {
   color: var(--stb-text-primary);
} 

.search__bar:hover {  
  background: var(--stb-bg-fourth);   
  transition: all 0.3s ease; 
}

.sidebar__menu i {
    color: var(--stb-text-primary);
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 12px;
    font-size: 15px; 
    background: var(--stb-button-secondary);
    color: var(--stb-button-text-bright); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
 .button:hover {
    background: var(--stb-button-secondary-hover);  
  }

.banner {  
    display: flex;
    align-items:  center;
    justify-content: left;  
    text-align: center; 
    margin-left: 20px;
    color: var(--stb-text-primary);     
} 

.banner__content {  
   display: flex; 
   margin-left: 30px;  
   margin-top: 250px;
   flex-direction: column;
   align-items: flex-start;
   text-align: center;
   width: 100%; 
}

.content__title {
  margin-bottom: 10px;
} 
.content__bonus {
  text-align: center;   
}

.join__button {
  background: var(--stb-button-primary); 
  color: var(--stb-button-text-bright);;  
  font-size: 24px; 
  font-weight: 700;
  padding: 20px 70px; 
  border: none;
} 

.join__button:hover {
  background: var(--stb-button-primary-active);
}

.sidebar.collapsed {
    width: 70px;
}

.header__content .collapsed {
    margin-left: 70px;                   
}

.section__article {
  margin-top: 100px;
}

.article__intro { 
    font-size: 1.1em;
    margin-bottom: 30px;  
    padding: 10px;
}

.article__section-title {
   color: var(--stb-text-primary);
   border-bottom: 2px solid var(--border-line);
   padding-bottom: 10px; 
   margin-top: 40px;
} 
 
.article__section-title-center {
  text-align: center; 
  font-size: 24px;
} 

.article__list.colored-numbers {
    list-style: none;
    counter-reset: my-counter;
    margin: 30px 0;     
}

.article__list.colored-numbers .article__list-item {
    position: relative;
    margin-bottom: 18px;
    padding-left: 15px;
    font-size: 1.1rem;
    line-height: 1.6;
    counter-increment: my-counter;
}

.article__list.colored-numbers .article__list-item::before {
    content: counter(my-counter);
    position: absolute; 
    top: -12px;
    left: -60px;                 
    width: 60px;                 
    text-align: right;           
    font-size: 2rem;
    font-weight: bold;
    color: var(--stb-text-ol);              
}

.article__text { 
   padding: 10px ;  
   margin-bottom: 25px;
 } 


.article__card { 
  display: flex; 
  justify-content: center; 
  text-align: center; 
  align-items: center; 
  flex-direction: column; 
  width: 250px; 
  padding: 10px;     
  color: var(--stb-text-primary);
 } 

.article__card span {
   margin-top: 10px;
 } 

.article__list {
   padding-left: 20px;
   margin: 25px 0;
 } 

 .article__list-item {
   margin-bottom: 12px;
} 

.article__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0; 
  justify-content: center;
} 

.article__gallery img {  
   width: 200px; 
  
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
} 



.article__link { 
  display: inline-block; 
  background: var(--stb-link-green);  
  color: var(--stb-text-primary); 
  padding: 14px 28px; 
  border-radius: 8px; 
  text-decoration: none; 
  font-weight: bold; 
  font-size: 1.1em;
  margin: 30px 0; 
}

.article__link:hover {
   background: var(--stb-link-green-hover);
}

.article__footer { 
  font-style: italic; 
  text-align: center; 
  margin-top: 60px; 
  padding-top: 20px; 
  border-top: 1px solid var(--border-line);  
}

@media (max-width: 992px) {
    .sidebar { 
        width: 250px;
        top: 80px;              
    } 

    .sidebar.open {
        transform: translateX(0);
    }

     .article__gallery-img {
          flex: 1 1 45%;      
      }
}


@media (max-width:800px) {
  .search__bar {
    display: none;
  }
}         

@media (max-width: 600px) { 

  .header__left {
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px; 

  }
  
  .banner__content {
    margin-top: 450px;
  } 

   .content__title {
     font-size: 20px;
   }  
   .join__button {
    font-size: 20px; 
    font-weight: 600;
    padding: 15px 60px; 
   } 

   .logo {
    font-size: 20px;
   } 

   .buttons {
    gap: 10px;
   } 

   .button {
    padding: 10px;
    font-size: 12px;
   }

   .article__intro {
      font-size: 1em;
   } 
   .article__gallery-img {
     flex: 1 1 100%;     
  } 

  .article__section-title-center  {
    font-size: 20px;
  }
} 

@media (max-width: 320px) {  
  .header__inner {
    display: flex;
    flex-direction: column; 
    justify-content: end;
    padding: 10px;
  } 

  .header__left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
  } 

  .header__right {
    gap: 15px;
  } 

  .toggle__btn {
    font-size: 22px;
  }  

  .banner__content {
    margin-top: 450px;
  }

  .logo { 
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: var(--stb-text-logo); 
  }   
  .buttons {
    gap: 10px;
  }
  
  .button {
    padding: 10px;
    font-size: 10px;
  } 
  .content__title {
    font-size: 15px;
  } 
  .join__button {
    font-size: 12px; 
    padding: 15px 30px;
  } 
  .article__link {
    padding: 10px 20px; 
    margin: 20px 0;
  }
}