*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
} 

ul, ol {
    margin: 0;
    padding: 0; 
    list-style: none;
}

a {
  text-decoration: none;
}


body {  
    box-sizing: border-box;  
    margin: 0;   
    font-size: 15px;    
    font-weight: 400;
    line-height: 1.2; 
    font-family: 'Montserrat', sans-serif;
  }   


:root {
    /* Основні кольори фону */
    --stb-bg-contrast-secondary: #1a1a2e;  
    --stb-bg-secondary:#F6F6F8;
    --stb-bg-fourth: #3a3a4e;    
    --stb-bg-night: #0F1126; 

    /* Текстові кольори */
    --stb-text-primary: #ffffff;
    --stb-text-logo-red: #FF492F;    
    --stb-text-ol: #ff3366;

    /* Кольори посилань */
    --stb-link-green: #008000;
    --stb-link-green-hover: #09b409;

    /* Кнопки */
    --stb-button-primary: linear-gradient(90deg, #FF416C, #FF4B2B);
    --stb-button-primary-active: #DC143C;
    --stb-button-secondary: linear-gradient(90deg, #00BFFF, #0080FF);
    --stb-button-secondary-hover: linear-gradient(90deg, #0080FF, #00BFFF); 

    --stb-bar-menu-hover: #75cdeb;

    /* Текст кнопок */
    --stb-button-text-bright: #ffffff;

    /* Додаткові */
    --border-line: #eee; 
    
    --stb-cookie-banner-bg-tertiary: #2d2d3e;  


/* categories-menu-layout */
    --stb-shop-items-grid-gap: 8px;
    --stb-bonus-crab-card-width: 240px;
    --stb-shop-image-aspect-ratio: 1.5 / 1;
    --stb-shop-freespin-image-aspect-ratio: 1.5 / 1;
    --stb-shop-page-grid-row-gap: var(--stb-page-grid-row-gap);
    --stb-shop-card-currency-font-size: 10px;
    --stb-shop-card-title-font-size: 14px;
    --stb-shop-card-offer-font-size: 16px;
    --stb-shop-card-line-height: 34px;
    --stb-shop-card-action-font-size: 14px; 
    --stb-header-height: 60px; 
    --stb-spin-rally-widget-height: 36px;
    --stb-base-shop-card-height: 174px; 
    --stb-shop-card-content-height: 76px;
    --stb-shop-card-content-with-title-height: 98px;
    --stb-base-shop-card-image-height: 96px;
    --stb-free-spin-card-height: 96px;  
    --stb-category-height: 45px;
    --stb-scroller-inner-row-gap: 12px;  
    --stb-container-padding: 15px; 
    --stb-scroller-correct-scrollbar: 8px;
    --stb-category-grid-gap: 8px; 
    --stb-scroller-shop-card-width: 144px;
    --stb-shop-freespin-image-width: 144px;  
    --stb-sidebar-expanded-width: 234px; 
    --stb-sidebar-collapsed-width: 80px;
    --stb-freebets-columns: 2;
    --stb-free-spins-columns: 1;
    --stb-bonus-money-columns: 2;
    --stb-bonus-crab-columns: auto-fill;
    --stb-bonus-crab-column-size: minmax(var(--stb-bonus-crab-card-width), 1fr); 
    --stb-scroller-correct-scrollbar: 8px;
    --stb-scroller-inner-row-gap: 12px; 

    --stb-scrollbar-width-keyword: thin;
    --stb-category-border-color: rgb(var(--stb-blue-400));  
    --stb-scrollbar-thumb-color: rgb(rgb(93 110 160)); 
    --stb-scrollbar-track-color:rgb(rgb(255 255 255 / 0%)) ;
    --stb-gamification-container-inner-width: 1260px;
    --stb-text-category-text: #263872; 
    --stb-category-min-width: 88px;  
    --stb-stroke-grey: #d8dff3;   
    --stb-blue-400: rgb(22, 161, 220); 
    --stb-border-category: #0066cc;
    --stb-category-border-color-hover:  rgb(22, 161, 220);

} 

.container {
    width: 100%;
    max-width: 1775px;
    padding: 0 15px;  
    margin: 0 auto;
} 


.wrapper__container {
  padding: 8px;  
  width: 100%;
  max-width: 1420px; 
  margin: 0 auto; 
}


.container-inner-width {
  /* max-width: var(--stb-gamification-container-inner-width);   */ 
  max-width: 1100px;
  margin: 0 auto;
}

.page__content-wrapper {
    margin-top: 80px;
    transition:  0.3s ease;
}

.page__content-wrapper.collapsed {
    margin-left: 200px ;
}

.header { 
    position: relative;
    background-image: url('../img/casino-background.jpg'); 
    background-size: cover;
    background-position: center center;     
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); 
    height: 600px;    
    overflow: hidden;     
}  
 
.header__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 40px; 
    display: flex;
    align-items: center; 
    justify-content: space-between;        
    background: var(--stb-bg-night); 
    z-index: 100;
}  

.logo {      
    display: inline-block;
    font-size: 24px;
    font-weight: bold; 
    color: var(--stb-button-text-bright);
} 

.logo--red {
      color: var(--stb-text-logo-red);          
} 

.header__right {    
    display: flex; 
    align-items: center;
    gap: 20px;
  } 

.header__right i { 
  position: absolute; 
  left: 10px; 
  color: var(--stb-button-text-bright);
  z-index: 2;
}

.header__left {
    display: flex; 
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
}

.sidebar {
    position: fixed;       
    top: 80px; 
    left: 0;  
    height: calc(100vh);
    width: 280px;
    background-color: var(--stb-bg-contrast-secondary);
    transition: 0.3s ease;
    z-index: 200;
    overflow-y: auto;
} 

.sidebar__menu {
   padding: 10px;
}

.sidebar__menu span {  
    margin-left: 25px;
    color: var(--stb-button-text-bright); 
    font-weight: 700;  
    font-style: italic;
    white-space: nowrap;
} 

.sidebar__menu a {
    margin-left: -10px;
    align-items: center; 
    justify-content: center;   
} 

.sidebar__menu span:hover  {
    color: var(--stb-bar-menu-hover);
} 

 .sidebar.collapsed { 
    width: 70px; 
    text-align: center;
} 

.sidebar.collapsed .sidebar__menu span {
    opacity: 0;                
    pointer-events: none;
}

.sidebar__menu li {
    padding: 15px; 
    border-bottom: 1px solid var(--stb-bg-fourth);
} 

.toggle__btn { 
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s ease;
}

.toggle__btn:hover {
    opacity: 0.8;
}

.search__bar {  
    position: relative;
    display: flex ;
    align-items: center; 
    width: 300px;
    border-radius: 5px; 
    padding: 5px;  
    margin-right: 10px; 
    background-color: var(--stb-cookie-banner-bg-tertiary);
} 

 .search__input {  
    width: 100%;
    font-weight: 700; 
    line-height: 2;
    border: none; 
    background: transparent;
    color: var(--stb-button-text-bright);   
    margin-left: 20px;   
    padding: 5px; 
    outline: none; 
}  

.search__input::placeholder {
   color: var(--stb-text-primary);
} 

.search__bar:hover {  
  background: var(--stb-bg-fourth);   
  transition: all 0.3s ease; 
}

.sidebar__menu i {
    color: var(--stb-text-primary);
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 12px;
    font-size: 15px; 
    background: var(--stb-button-secondary);
    color: var(--stb-button-text-bright); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background: var(--stb-button-secondary-hover);  
  }

.banner {  
    display: flex;
    align-items:  center;
    justify-content: left;  
    text-align: center; 
    margin-left: 20px;
    color: var(--stb-text-primary);     
} 

.banner__content {  
   display: flex; 
   margin-left: 65px;  
   margin-top: 250px;
   flex-direction: column;
   align-items: flex-start;
   text-align: center;
   width: 100%; 
}

.content__title {
  margin-bottom: 10px;
} 
.content__bonus {
  text-align: center;   
}

.join__button {
  background: var(--stb-button-primary); 
  color: var(--stb-button-text-bright);;  
  font-size: 24px; 
  font-weight: 700;
  padding: 20px 70px; 
  border: none;
} 

.join__button:hover {
  background: var(--stb-button-primary-active);
} 

/* new */
.scroller-wrap {  
  /* display: flex; 
  align-items: center; */
  position: relative;
  width: 100%;  
  overflow: hidden; 
  overflow: scroll;
  /* overflow: visible;  */
} 

.scroller {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none;
}  

.scroller-wrap__control {
  position: absolute; 
  
  top: 50%;
  transform: translateY(-50%);  
  opacity: 0;   
  display: flex; 
  align-items: center;
  justify-content: center; 
  flex-shrink: 0; 
  z-index: 10;  
  transition: opacity 0.2s ease-in-out; 
}    
 
.scroller-wrap__control--left {
  opacity: 0;
}

 .scroller-wrap__control--left:hover { 
  left: 0px;    
  opacity: 1; 
}  
 
.scroller-wrap__control--right {    
  opacity: 0;  
  right: 0px;     
}  

.scroller-wrap__control--right:hover {
  opacity: 1;
}

.arrow-button {
  width: 40px;
  height: 42px;
  border: 2px solid var(--stb-border-category); 
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
  display: flex; 
  position: absolute; 
  z-index: 50; 
  align-items: center;
  justify-content: center; 
  padding: 0;
  transition: background-color 0.2s;
}
 

.categories-menu {
  position: sticky;   
  margin: 0 auto;
  top: 80px; 
  height: 40px;
  top: calc(var(--stb-header-height) + var(--stb-spin-rally-widget-height));
  z-index: 3;
  display: block;
  padding-block: var(--stb-categories-menu-vertical-padding);
  border-bottom: 1px solid var(--stb-stroke-grey);
  background-color: var(--stb-bg-secondary);
  box-sizing: border-box;
}
.menu {
  display: flex;
  align-items: center; 
  justify-content: center;  
  gap: var(--stb-scroller-inner-row-gap);
  padding-inline-start: var(--stb-scroller-padding-inline-start);
  padding-inline: var(--stb-container-padding); 
  padding-inline-end: var(--stb-container-padding);
}

.menu__search {
  flex-shrink: 0; 
  display: none;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--stb-category-grid-gap);
  height: var(--stb-category-height); 
  min-width: var(--stb-category-min-width);
  padding: 4px 12px;
  background-color: rgb(var(--stb-white));
  border: 2px solid var(--stb-stroke-grey);
  border-radius: 4px;
  text-decoration: none;
  transition: all var(--stb-transition-time);
  cursor: pointer;
  white-space: nowrap;
} 

.categories__inner {
  max-width: 1540px;   
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content; 
}

.category--active {
  border-color: var(--stb-text-primary);
  box-shadow: inset 0 0 0 0.5px var(--stb-text-primary);
}

.category--icon {
  width: 40px; 
  padding: 0; 
  flex-shrink: 0;  
} 

.icon {
    display: block;
  color: rgb(var(--stb-brand-500)); 
  transition: color var(--stb-transition-time);
}

.category__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.category__picture img, 
.category__picture svg {
  display: block;
  object-fit: contain;
} 

.arrow-button:hover {
  color: #0066cc; 
}

.arrow-button:disabled {
  color: #cccccc; 
}

.category__text {
   font-family: var(--stb-font-primary);   
   display: grid;
   grid-auto-flow: column;
   align-items: center;
   justify-content: space-between;
   font-weight: 700;
   font-size: 14px; 
   grid-gap: 4px;
   font-weight: 700;
   text-transform: var(--stb-text-transform-style, uppercase);
   color: var(--stb-text-category-text);
}

.scroller {  
  position: relative;
  max-width: 100vw; 
  height: max-content; 
  margin-block-end: calc(-1 * var(--stb-scroller-correct-scrollbar)); 
  padding-block-end: var(--stb-scroller-correct-scrollbar);
  flex-grow: 1;
  overflow-x: auto; 
  overflow-y: hidden;
  scroll-behavior: smooth; 
  scrollbar-width: none; 
  -ms-overflow-style: none;  
} 

 
.scroller-wrap::-webkit-scrollbar {
   display: none; 
} 

@supports (scrollbar-width: auto) {
    .scroller:not(.no-custom-scrollbar) {          
        scrollbar-color: var(--stb-scrollbar-thumb-color) var(--stb-scrollbar-track-color);
        scrollbar-width: var(--stb-scrollbar-width-keyword);           
    }
}


.scroller__inner {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content; 
    grid-column-gap: var(--stb-scroller-inner-row-gap); 
    white-space: nowrap
} 





/* new */


@media screen and (min-width: 1280px) {
    [_nghost-ng-c3499367581] {
        --stb-scroller-overflow-x: hidden;
        display: block;
        max-width: calc(100vw - var(--stb-sidebar-expanded-width));
        margin: 0 auto;
    }
}


@media screen and (min-width: 1280px) {
    .content[_ngcontent-ng-c796470635] {
        margin-inline-start: var(--stb-sidebar-expanded-width);
        transition: transform var(--stb-transition-time);
        will-change: transform;
    } 
  }




@media (max-width: 1280px) { 
  .page__content-wrapper {
      margin-left: 0 !important;
    } 

  .sidebar {       
      max-width: 450px; 
      width: 100%; 
    }    
     .search__bar {
     display: none;
  } 
  .scroller-container {
    display: none;
  }
}
         

@media (max-width: 600px) { 

  .header__left {
    display: flex; 
    flex-direction: row-reverse;
    align-items: center; 
    gap: 10px;  
  } 
  
  .header__inner {
    gap: 10px;
  }
     
  .banner__content {
    margin-top: 420px;
  } 

   .content__title {
     font-size: 20px;
   }  
   .join__button {
    font-size: 20px; 
    font-weight: 600;
    padding: 15px 40px; 
   } 
   .logo {
    font-size: 20px;
   } 
   .buttons {
    gap: 10px;
   } 
   .button {
    padding: 10px;
    font-size: 12px;
   }
}  


@media (max-width: 320px) {  
  .header__inner {
    display: flex;
    flex-direction: column; 
    justify-content: end;
    padding: 10px;   
    gap: 0;
  } 

  .header__left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
  } 

  .header__right {
    gap: 15px;
  } 

  .toggle__btn {
    font-size: 22px;
  }  

  .banner__content {
    margin-top: 400px;
  }

  .logo { 
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: var(--stb-text-logo); 
  }   
  .buttons {
    gap: 10px;
  }
  
  .button {
    padding: 10px;
    font-size: 10px;
  } 
  .content__title {
    font-size: 15px;
  } 
  .join__button {
    font-size: 12px; 
    padding: 15px 40px;
  } 
  .article__link {
    padding: 10px 20px; 
    margin: 20px 0;
  }
}